<h1 id="h1">INSCRIÇÃO SUPER DESENVOLVEDOR</h1>
<h2 id="h2">Seu futuro e sua família agradecem!</h2>
<div id="form">
  <%= form_for @subscript do |f| %>
   <%= f.text_field :name, placeholder: "Nome" %><br />
   <%= f.text_field :email, placeholder: "Email" %><br />
   <%= f.text_field :phone, placeholder: "Telefone" %><br />
   <%= f.text_area :description, placeholder: "Descrição" %><br />
   <%= f.select :language, ["Javascript", "Python", "Java", "Php", "Ruby"], include_blank: "Linguagem" %><br />
   <%= f.select :schooling, ["Fundamental", "Médio", "Superior Incompleto", "Superior Completo"], include_blank: "Escolaridade" %><br />
   <%= f.submit "Enviar"%>
  <% end %>
</div>
