<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav id="menu">
      <ul>
        <li>
          <%= link_to "Principal", root_path %>
          <a href="#">Sobre</a>
          <%= link_to "Seja Aluno", new_subscript_path %>
          <a href="#">Alunos</a>
          <a href="#">Preço</a>
          <a href="#">Contato</a>
        </li>
      </ul>
    </nav>
    <div id="content">
      <%= yield %>  
    </div>

  <script>
   function typeWrite(elemento){
       const textoArray = elemento.innerHTML.split('');
       elemento.innerHTML = ' ';
       textoArray.forEach(function(letra, i){  
          
       setTimeout(function(){
           elemento.innerHTML += letra;
       }, 75 * i)
    
       });
     }
     const titulo = document.querySelector('#h2');
     typeWrite(titulo);
  </script>

  </body>
</html>
